
@{
    Layout = null;
}

<a href="/Default/Index/">Index Sayfası</a>
<a href="/Default/Ürünler/">Ürünler Sayfası</a>
<a href="/Default/Müşteriler/">Müşteriler Sayfası</a>
<h1>Ürünler</h1>

<h1>Mesajlar</h1>
<h2>---------</h2>
<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>
<h3>Topla: @ViewBag.m4</h3>
<h3>Çevre: @ViewBag.m5</h3>
<h3>Faktöriyel: @ViewBag.m6</h3>